/*-- scss:defaults --*/
$link-color: #2980b8;
$link-hover-color: #81d4fa;
$link-decoration: none;

// Dark mode overrides
$body-bg-dark: #000;
$body-color-dark: #f1f1f1;
$link-color-dark: #4fc3f7;
$link-hover-color-dark: #81d4fa; 